// Page heading
+pageHeading title="Products Grid" category="Products"

.wrapper.wrapper-content.animated.fadeInRight
  if productsReady
    .wrapper.wrapper-content.animated.fadeInRight
      +productsGrid
  else
    .spinner.m-b.m-t
      .sk-spinner.sk-spinner-wandering-cubes
        .sk-cube1
        .sk-cube2