.row.m-b
  .col-xs-12
    .input-group
      | {{> EasySearch.Input index=productsIndex attributes=inputAttributes }}
      .input-group-btn
        button.btn.btn-sm.btn-primary(type='submit') {{_ 'body.search'}}
.row.products-grid
  #product_new.col-md-6.hidden {{>productForm}}
  | {{#EasySearch.Each index=productsIndex }}{{>productsGridItem}}{{/EasySearch.Each}}