.ibox
  .ibox-title
    if newProduct
      h5 {{_ 'products.new_title'}}
    else
      h5 {{_ 'products.edit_title'}}
    .ibox-tools
      a.js-collapse-link
        i.fa.fa-chevron-up
      a.js-cancel(title='Close')
        i.fa.fa-times
  .ibox-content
    form.js-product-form(role="form")
      .row
        .form-group.col-sm-12
          label.name-label.control-label {{_ 'form.name'}}
          input.form-control(type='text', name='name', value='{{name}}', placeholder="{{_ 'products.name'}}", required)
        .form-group.col-sm-12
          label.control-label {{_ 'form.about'}}
          input.form-control(type='text', name='about', value='{{about}}', placeholder="{{_ 'products.about'}}")
        .form-group.col-sm-12
          label.control-label {{_ 'form.price'}}
          input.form-control(type='text', name='price', value='{{price}}', placeholder="{{_ 'products.price'}}")
        .form-group.col-sm-12
          label.control-label {{_ 'form.category'}}
          input.form-control(type='text', name='category', value='{{category}}', placeholder="{{_ 'products.category'}}")
        .form-group.col-sm-12
          label.control-label {{_ 'form.image'}}
          input.form-control(type='text', name='image', value='{{image}}', placeholder="{{_ 'products.image'}}")
        .form-group.col-sm-12
          .col-sm-4.col-sm-offset-2
            button.btn.btn-default.js-cancel(type="button" ) {{_ 'form.cancel'}}
          .col-sm-4
            if newProduct
              button.btn.btn-primary.js-save(type="submit" ) {{_ 'form.submit'}}
            else
              button.btn.btn-primary.js-save(type="submit" ) {{_ 'form.save'}}