<template name="task">
    <li>
        <div class="checkbox">
          <div class="list-item {{checkedClass}} {{editingClass}}">
            <input type="checkbox" checked="{{checked}}" name="checked" id="{{id}}">
              <label for="{{id}}">
                <input type="text" value="{{text}}" placeholder="Task name">
                <a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>
              </label>
           </div>
        </div>
    </li>
</template>