<template name="tasksNavigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                            {{#if currentUser}}
                                <!--<span>-->
                                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg" />-->
                                <!--</span>-->
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{email}}</strong>
                                    <!--<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>-->
                                     <!--</span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>-->
                                    {{#if userMenuOpen}}
                                        <span class="icon-arrow-up"></span>
                                    {{else}}
                                        <span class="icon-arrow-down"></span>
                                    {{/if}}
                                </span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <!--<li><a href="{{pathFor route='profile'}}">Profile</a></li>-->
                                    <!--<li><a href="{{pathFor route='contacts'}}">Contacts</a></li>-->
                                    <!--<li><a href="{{pathFor route='mailbox'}}">Mailbox</a></li>-->
                                    <!--<li class="divider"></li>-->
                                    <li><a href="{{pathFor route='login'}}" class="js-logout">Logout</a></li>
                                </ul>
                            {{else}}
                                <div class="btns-group">
                                    <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
                                    <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
                                </div>
                            {{/if}}
                        <!--</section>-->
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                {{#if currentUser}}
                    <li  class="list-todos">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Task Lists

                        </span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse {{isActiveRoute regex='lists' className='in'}}">
                            {{#each lists}}
                                <li class="{{isActiveRoute regex=activeListClass}}">
                                    <a href="{{pathFor 'taskLists'}}">{{name}}
                                    {{#if userId}}
                                        <span class="icon-lock"></span>
                                    {{/if}}
                                    {{#if incompleteCount}}
                                        <span class="label label-primary pull-right">{{incompleteCount}}</span>
                                    {{/if}}
                                    </a></li>
                            {{/each}}
                            <li><a class="js-new-list link-list-new"><span class="fa fa-plus"></span> New List</a></li>
                        </ul>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</template>