.ibox-content
  form.js-edit-form(role="form")
    .row
      .form-group.col-sm-12
        label.name-label.control-label Project Name
        .input-group
          input.form-control(type='text', name='name', value='{{name}}', placeholder='Project Name', required)
          .input-group-btn
            //TODO: refactor edit project status
            //+statusSelect statusItems=statusItems
            button.btn.btn-white.dropdown-toggle(data-toggle="dropdown" type="button")
              if status
                span(class='{{statusClass}}') {{statusLabel}}
              else
                | Status
              span.caret
            ul.dropdown-menu
              li
                a.js-status-active(href="#")
                  i.fa.fa-circle(class="color-primary")
                  | Active
              li
                a.js-status-suspended(href="#")
                  i.fa.fa-circle(class="color-warning")
                  | Suspended
              li.devider
              li
                a.js-status-closed(href="#")
                  i.fa.fa-circle(class="color-default")
                  | Closed
      .form-group.col-sm-12
        label.control-label About
        input.form-control(type='text', name='about', value='{{about}}', placeholder='About Project')
      .form-group.col-sm-12
        label.control-label Description
        textarea.form-control(type='text', name='description', placeholder='Project Description') {{description}}
    .row
      hr.hr-line-dashed
      .form-group
        .col-xs-4.col-xs-offset-2
          button.btn.btn-default.js-cancel Cancel
        .col-xs-4
          button.btn.btn-primary.js-save(type="submit") Save Changes