.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-7.pull-left
    h2 Projects List
    ol.breadcrumb
      li
        a(href="{{pathFor home}}") Home
      li.active
        strong Projects
  .col-lg-5.text-right.m-t
    button.btn.btn-success.js-new-project
      i.fa.fa-plus
      | Create Project

if projectsReady
  .wrapper.wrapper-content.animated.fadeInDown
    +projectList
else
  .spinner.m-b.m-t
    .sk-spinner.sk-spinner-wandering-cubes
      .sk-cube1
      .sk-cube2