tr
  td.project-status
    //span.label.label-primary Active
  td.project-title
    a(href="{{pathFor 'projectDetail'}}") {{name}}
    //br
    //small Created 14.08.2014
  td.project-completion
    //small Completion with: 48%
    //.progress.progress-mini
    //  .progress-bar(style='width: 48%;')
  td.project-people
    //a(href='')
    //  img.img-circle(alt='image', src='img/a3.jpg')
    //a(href='')
    //  img.img-circle(alt='image', src='img/a1.jpg')
    //a(href='')
    //  img.img-circle(alt='image', src='img/a2.jpg')
    //a(href='')
    //  img.img-circle(alt='image', src='img/a4.jpg')
    //a(href='')
    //  img.img-circle(alt='image', src='img/a5.jpg')
  td.project-actions
    //a.btn.btn-white.btn-sm(href='#')
    //  i.fa.fa-folder
    //  |  View
    //|
    //a.btn.btn-white.btn-sm(href='#')
    //  i.fa.fa-pencil
    //  |  Edit