.ibox
  .ibox-title
    h5 Add new Project
    .ibox-tools
      a.js-collapse-link
        i.fa.fa-chevron-up
      a.js-close-new(title='Close')
        i.fa.fa-times
  .ibox-content
    form.js-project-form(role="form")
      .row
        .form-group.col-sm-12
          label.name-label.control-label Name
          .input-group
            input.form-control(type='text', name='name', value='{{name}}', placeholder='Project Name', required)
            .input-group-btn
              +statusSelect statusItems=statusItems
        .form-group.col-sm-12
          label.control-label About
          input.form-control(type='text', name='about', value='{{about}}', placeholder='About Project')
        .form-group.col-sm-12
          label.control-label Description
          textarea.form-control(type='text', name='description', placeholder='Project Description') {{description}}
        .form-group.col-sm-12
          .col-sm-4.col-sm-offset-2
            button.btn.btn-default.js-close-new(type="button") Cancel
          .col-sm-4
            button.btn.btn-primary.js-submit(type="submit") Submit