.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-7.pull-left
    h2 Projects List
    ol.breadcrumb
      li
        a(href="{{pathFor home}}") Home
      li.active
        strong Projects
  .col-lg-5.text-right.m-t
    button.btn.btn-primary.js-new-project
      i.fa.fa-plus
      | Create Project

if projectsReady
  .wrapper.wrapper-content.animated.fadeInDown
    #new-project.ibox.hidden
      .ibox-title
        h5 Add new Project
        .ibox-tools
          a.js-collapse-link
            i.fa.fa-chevron-up
          a.js-close-new(title='Close')
            i.fa.fa-times
      .ibox-content
        .row
          .col-lg-8
            form.form-inline
              .form-group
                input.form-control(type='text', placeholder='Project name')
              button.js-project-add.btn.btn-white.no-margins(type='submit')
                i.fa.fa-plus
                | Add Project
    +projectList
else
  .spinner.m-b.m-t
    .sk-spinner.sk-spinner-wandering-cubes
      .sk-cube1
      .sk-cube2