.middle-box.text-center.loginscreen.animated.fadeInDown
  div
    div
      h1.logo-name Ev
    h3 Welcome to EveMt.
    p
      | Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
    p Login in. To see it in action.
    form.m-t
      if errorMessages
        .list-errors
          each errorMessages
            .list-item {{this}}
      .form-group
        input.form-control(type='email', name='email', placeholder='Username', required='' class="{{errorClass 'email'}}")
      .form-group
        input.form-control(type='password', name='password', placeholder='Password', required='' class="{{errorClass 'password'}}")
      button.btn.btn-primary.block.full-width.m-b(type='submit') Login
      a(href='#')
        small Forgot password?
      p.text-muted.text-center
        small Do not have an account?
      a.btn.btn-sm.btn-white.btn-block(href="{{pathFor route='register'}}") Create an account
    p.m-t
      small EveMt &copy; 2016