a.dropdown-toggle(href="#" data-toggle="dropdown") {{_ 'topnav.language'}}
ul.dropdown-menu.animated.fadeInDown.m-t-xs
  li.lang.js-lang-en
    a
      img(src="/img/flags/16/United-States.png")
      | English
  li.lang.js-lang-ru
    a
      img(src="/img/flags/16/Russia.png")
      | Русский