h2(data-i18n='products.title') {{title}}
ol.breadcrumb
  li
    a(href='{{pathFor home}}' data-i18n='nav.home') Home
  if category
    li.active
      strong
        a(data-i18n='products.category') {{category}}
  else
    li.active
      strong(data-i18n='products.title') {{title}}
