.row.border-bottom
  nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
      a#navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
        i.fa.fa-bars
    ul.nav.navbar-top-links.navbar-right
      li
        span.m-r-sm.text-muted.welcome-message  Welcome to INSPINIA+ Admin Theme.
      li
        if currentUser
          a.js-logout(href="{{pathFor route='login'}}")
            i.fa.fa-sign-out
            |  Log out
        else
          a(href="{{pathFor 'signin'}}")
            i.fa.fa-sign-in
            |  Log in