.row.border-bottom
  nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
      a#navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
        i.fa.fa-bars
    ul.nav.navbar-top-links.navbar-right
      if currentUser
        li
          a.count-info
            i.fa.fa-bell
            span.label.label-primary {{tasksCount}}
      else
        li
          span.m-r-sm.text-muted.welcome-message  Welcome to EveMt cloud service.
      li.language.dropdown(dropdown)
        a.dropdown-toggle.count-info(href="#" data-toggle="dropdown" data-i18n='taskstopnav.language')
          | Language
        ul.dropdown-menu.animated.fadeInDown.m-t-xs
          li.set_en
            a
              img(src="img/flags/16/United-States.png")
              | English
          li.set_ru
            a
              img(src="img/flags/16/Russia.png")
              | Русский
      li
        if currentUser
          a.js-logout(href="{{pathFor 'signin'}}")
            i.fa.fa-sign-out
            |  Log out
        else
          a(href="{{pathFor 'signin'}}")
            i.fa.fa-sign-in
            |  Log in