nav.navbar-default.navbar-static-side(role='navigation')
  .sidebar-collapse
    a.close-canvas-menu
      i.fa.fa-times
    ul#side-menu.nav.metismenu
      li.nav-header
        .dropdown.profile-element
          if currentUser
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              span.clear
                span.block.m-t-xs
                  strong.font-bold {{email}}
                  if userMenuOpen
                    span.icon-arrow-up
                  else
                    span.icon-arrow-down
            ul.dropdown-menu.animated.fadeInRight.m-t-xs
              li
                a.js-logout(href="{{pathFor route='login'}}") Logout
        .logo-element
          | IN+
      li.list-todos
        a(href='#')
          i.fa.fa-th-large
          span.nav-label(data-i18n='nav.dashboard')
            | Task Lists
          span.fa.arrow
        ul.nav.nav-second-level.collapse(class="{{isActiveRoute regex='lists' className='in'}}")
          each lists
            li(class="{{isActiveRoute regex=activeListClass}}")
              a(href="{{pathFor 'taskLists'}}" class="{{isActiveRoute regex=activeListClass}}") {{name}}
                if userId
                  span.icon-lock
                if incompleteCount
                  span.label.label-primary.pull-right {{incompleteCount}}
          li
            a.js-new-list.link-list-new
              span.fa.fa-plus
              |  New List